
.header{
    -fx-background-color: #759DA2;
}

.header-label{
    -fx-text-fill: #eeeeee;
    -fx-font-size: 40px;
}

.product-vbox{
    -fx-background-color: #EBF8FA;
}

.search-field {
    -fx-text-fill: #000000;
    -fx-background-image: url('../images/search.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: right center;
    -fx-font-size: 17;
    -fx-background-size: 12%;
}

.menu-vbox{
//its correct
    -fx-background-color: #DCEDF3;
}

.selection-hbox{
//ITS CORRECT
    -fx-background-color: #000000;
}

.table {
    -fx-font-size: 17;
}

.left-product-vbox{
//ITS CORRECT
    -fx-background-color: #AFCEE3;
}

.left-grid {
    -fx-font-size: 18;
}

.left-hbox-buttons {
    -fx-font-size: 15px;
}

.right-product-vbox{
    -fx-background-color: #858ea1;
}

.right-grid {
    -fx-font-size: 18;
}

.right-hbox-buttons {
    -fx-font-size: 15px;
}

.logout-button {
    -fx-background-image: url("../images/logout.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 80%;
    -fx-background-position: center;
    -fx-background-color: #3e3a40;
}

.logout-button:hover {
    -fx-background-color: rgba(255, 255, 247, .2);
}